/* fontes */
@font-face{
    font-family: 'Barlow Bold';
    src: url('fonts/Barlow-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Medium';
    src: url('fonts/Barlow-Medium.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Regular';
    src: url('fonts/Barlow-Regular.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Condensed Bold';
    src: url('fonts/BarlowCondensed-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow SemiCondensed Bold';
    src: url('fonts/BarlowSemiCondensed-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sans Regular';
    src: url('fonts/OpenSans-Regular.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sauce';
    src: url('fonts/OpenSauceOne-Bold.ttf')
    format('truetype');
}

:root{
    --cinza: #545454;
    --laranja: #f79126;
    --cinza-claro: #d9d9d9;
    --white: #fff;
    --cinza-medio: #a6a6a6;
    --amarelo: #ffde59;
    --bege: #e9e9d2;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/* navbar */
.container{
    max-width: 2000px;
    margin:auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header{
    width: 100%;
    padding-top: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}

#header.rolagem{
    background: linear-gradient(to bottom, #545454, #a6a6a6, transparent);
    padding-top: 10px;
    transition: .5s .1s;
}

#header.rolagem #container_tel{
    visibility: hidden;
    transition: .1s;
}

.nav ul{
    list-style: none;
}

.nav ul li{
    display: inline-block;
    margin: 0 20px;
}

.nav ul li a{
    font-family: 'Barlow Bold';
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

.nav ul li a:hover{
    font-family: 'Barlow Bold';
    font-size: 22px;
    color: var(--laranja);
    transition: .5s;
}

/* principal */
.banner video{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}
#sombra_superior{
    width: 100%;
    height: 50vh;
    background-color: linear-gradient(180deg, black, #353434, #505050, #d9d9d9);
    opacity: 60%;
    position: absolute;
    top: 0;
    z-index: 2;
}
#sombra_esquerda{
    width: 50%;
    height: 100vh;
    background: linear-gradient(to right, black, #353434, #505050, #d9d9d9);
    opacity: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#orcamento_main{
    width: 45vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
#orcamento_main h1{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 3rem;
    color: var(--white);
    text-align: left;
    text-shadow: black 0.1em 0.1em 0.4em;
    line-height: 80px;
    margin-top: 33vh;
    margin-left: 15%;
}
#orcamento_main button{
    width: 275px;
    height: 60px;
    background: linear-gradient(90deg, #ff6c10,#ff6c10, #ebbc00);
    border: 0px;
    border-radius: 40px;
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 1.5rem;
    text-align: center;
    color: var(--white);
    margin-top: 2.5rem;
    margin-left: 15%;
    padding-right: 20px;
    cursor: pointer;
}
#orcamento_main button:hover{
    width: 280px;
    height: 65px;
    background: linear-gradient(90deg, #ebbc00,#ff6c10,#ff6c10);
    transition: 0.5s;
}
#sombra_direita{
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left, black, #353434, #505050, #d9d9d9);
    opacity: 60%;
    z-index: 1;
}
#social_main{
    position:absolute;
    bottom: 40px;
    right: 20px;
    display: flex;
    z-index: 4;
    align-items: center;
}
#social_main label{
    font-family: 'Open Sauce';
    font-size: 1rem;
    color: var(--white);
    margin-right: 10px;
}
#social_main hr{
    height:40px;
}

#social_main img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#social_main img:hover{
    width: 40px;
    height: 40px;
    transition: .2s;
}

.logo{
    width: auto;
    height: 110px;
}

#container_tel{
    display: flex;
    align-items: center;
}

#container_tel img{
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
}

#container_tel a{
    font-family: 'Barlow Bold';
    font-size: 20px;
    margin-left: 16px;
    color: var(--white);
    text-decoration: none;
}

#container_tel a:hover{
    font-family: 'Barlow Bold';
    font-size:22px;
    margin-left: 16px;
    color: var(--laranja);
    transition: .2s;
}

/* navbar mobile */
#btn_menu{
    width: 50px;
    height: 50px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    display: none;
    z-index: 8;
}
.linha{
    width: 35px;
    height: 3px;
    background-color: var(--white);
    display: block;
    margin: 10px auto;
    border-radius: 80px;
    position: relative;
    transform-origin: center;
    transition: .2s;
}
#btn_menu.hamburguer .linha:nth-child(1) {
    transform: translateY(13px) rotate(-45deg);
}

#btn_menu.hamburguer .linha:nth-child(2) {
    width:0;
}

#btn_menu.hamburguer .linha:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
}

.nav_mobile{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: #54545493;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    padding-top: 20vh;
    visibility:hidden;
    transition: 1s easy out;
}
.nav_mobile ul{
    list-style: none;
}
.nav_mobile ul li{
    text-align: center;
}
.nav_mobile ul li a{
    font-family: 'Barlow Bold';
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    display:inline-flex;
    padding: 25px 0px;
}

.nav_mobile ul li a:hover{
    font-family: 'Barlow Bold';
    font-size: 32px;
    color: var(--laranja);
    transition: .5s;
}


/* serviços */
.servicos{
    height: 100vh;
    background-image: url(img/fundo.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-block-end: 30px;
    
}

.servicos h1{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 70px;
    color: var(--laranja);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 3;

}

#fundo_servicos{
    width: auto;
    height: 50rem;
    margin-inline: 10rem;
    background-color: var(--bege);
    border-radius: 5rem;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    margin-top: -3%;
}

.imagens{
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: -30%;
    margin-inline: 20rem;
    
}


.imagens .caixa{
    position: relative ;
    z-index: 5;
    width:300px;
    height: 400px;
    background-color: #fff;
    margin-inline: 1rem;
    border-radius: 2rem;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5), 0 -15px 15px -15px rgba(0, 0, 0, 0.5);;
    transition: 0.5s;
    background-size: cover;
   
}


.imagens .caixa:hover{
    scale: 1.2;
    transition: .5s;
    cursor:pointer;
    
}


.imagens .caixa::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 2rem;
    background-size: cover;
    filter: blur(25px);
    opacity: 0.5;
    z-index:1

}
.imagens .caixa:hover::before{
    opacity:0;
    transition: .2s;
}

.titulo-img{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-family: 'Barlow SemiCondensed Bold';
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
    opacity: 0; /* Inicia invisível */
    transition: 0.3s ease;
}

.caixa:hover .titulo-img {
    opacity: 1; /* Torna visível ao passar o mouse na caixa */
}


.fundo_caixa{
    display: none; /* Inicia invisível */
    position: fixed; /* Mantém a posição fixa na tela */
    width: 1200px;
    height: 600px;
    margin-inline: 1rem;
    border-radius: 2rem;
    transition: .5s;
    background-color: var(--bege);
    opacity: 1;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top:-60%;
   transition: 0.5s ease;
   z-index: 1000;
 
}

.fundo_caixa .visivel{
    display: block;

}

.caixa.visivel {
    display: block; /* Torna visível quando a classe 'visivel' é adicionada */
    transition: 0.5s ease;
}
#informacoesDiv {
    width: 1100px;
    height: 600px;
    font-size: 20px;
    position: relative;
   background-color: #f79126;
    padding: 2rem ;
    left: 50%;
    transform: translate(-50%);

}

#informacoesDiv h1{
    font-size: 27px;
    color: #545454;
    text-align:left;
    margin-left: 8rem;
    margin-top: 5%;
    font-family: 'Barlow Regular';
} 


#InformacoesDiv h2 {
    font-family:'Barlow SemiCondensed Bold' ;
    font-size: 50px;
    color: #545454;
    margin-left: 50%;
    position: relative;
    margin-top: 2rem;

}

#img-infos {
    width: 400px;
    height: 550px;
    padding:1rem;
    border-radius: 2rem;
    margin-top:-10% ;
    
    
}

/* sobre nós */
.espaco{
    background-color: var(--cinza);
    height: 100vh;
}
.flex-sobre{
    display:flex;
}
#sobre_nos{
    width: 100%;
    padding-top: 20vh;
    background-image: url(img/fundo.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#sobre_conteudo{
    padding-right: 2%;
    padding-bottom: 4rem;
    margin-left: 8%;
}
#sobre_conteudo h1{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 3.75rem;
    color: var(--laranja);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;
    margin-bottom: 2rem;
}
#sobre_conteudo p{
    font-family: 'Barlow Regular';
    font-size: 1.7rem;
    line-height: 1.4em;
    text-align: left;
}
#sobre_img{
    margin-left: 3.2rem;
    padding: 10px 160px 20px 40px;
}
#sobre_img h1{
    display: none;
}
#sobre_img img{
    width: 340px;
}
.flex-sobre-b{
    display: flex;
    justify-content: space-between;
    margin: 10vh 0 0 0;
    padding: 0 10vw;
}
#sobre_beneficios{
    width: 300px;
}
#sobre_beneficios h2{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 3.25rem;
    color: var(--laranja);
    text-align: center;
    margin-bottom: 1rem;
}
#sobre_beneficios h3{
    font-family: 'Open Sans Bold';
    font-size: 2.27rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;
}
#sombra-inferior_sobre{
    width: 100%;
    height: 30vh;
    background: linear-gradient(to top, black, black,#313131,#545454, #d9d9d9, #d9d9d9,#ffffff);
    opacity: 60%;
}

/** rodapé **/
footer{
    width: 100%;
    color: var(--white);
    font-family: 'Barlow Regular';
    justify-content: end;
}

.footer_content{
    background-color: var(--cinza);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2.5rem;
}
#footer_contacts {
    margin-bottom: 0.75rem;
}
#telefone{
    align-items: center;
    display: flex;
}
#logo{
    width: 20rem;
    height:10rem;
}


#footer-link{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    gap:2rem;
    transition: all 0.4s;
    justify-content: center;
}


#footer-link:hover{
    height: 2.5rem;
    width: 2.5rem;
    opacity: 0.5;
}

.footer-list{
    display: flex;
    flex-direction :column;
    gap:0.75rem;
    list-style: none;
    margin-inline: 3rem;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--cinza);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight:100;
}

/* Responsividade */
@media screen and (min-width: 1460px){
    /* navbar */
    #header{
        padding: 60px 1%;
    }
    #header.rolagem{
        padding-top: 20px;
    }
    .logo{
        height: 130px;
    }
    .nav ul li a{
        font-size: 23px;
    }

    /* sobre nos */
    #sobre_nos{
        padding-top: 5vh;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin-left: 8%;
    }
    #sobre_conteudo p{
        font-size: 2.3vw;
    }
    #sobre_img{
        width: 100%;
        padding: 8vh 4%;
        margin: 0;
    }
    #sobre_img img{
        width: 35vw;
    }
    #sobre_beneficios{
        max-width: 350px;
        width:auto;
        margin: 0 2.5vw;
        text-align: center;
    }
    #sobre_beneficios h2{
        font-size: 3.8vw;
        margin: 0;
    }
    #sobre_beneficios h3{
        font-size: 3.1vw;
    }
}

@media screen and (min-width: 1281px){
    /* navbar */
    #header{
        padding: 40px 1%;
    }
}

@media screen and (max-width: 1280px){
    /* navbar */
    #header{
        padding: 40px 3%;
    }
    #container_tel{
        display:none;
    }
    .nav ul li a{
        padding: 15px 0;
    }
    
    /* principal */
    #orcamento_main{
        width: 80vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 3.4rem;
        margin-left: 10%;
        line-height: 80px;
    }
    #orcamento_main button{
        width: 280px;
        height: 55px;
        font-size: 1.6rem;
        margin-left: 10%;
        margin-top: 2.5rem;
    }
    #social_main{
        bottom: 60px;
        right: 40px;
    }
    #social_main label{
        font-size: 1.2rem;
        margin-right: 20px;
    }
    #social_main hr{
        height:50px;
    }
    
    #social_main img{
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    #social_main img:hover{
        width: 40px;
        height: 40px;
        transition: .2s;
    }

    /* sobre nos */
    #sobre_nos{
        padding-top: 5vh;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin-left: 8%;
    }
    #sobre_img{
        width: 100%;
        padding: 8vh 4%;
        margin: 0;
    }
    .flex-sobre-b{
        padding: 0 8%;
        margin: 5vh 0;
        align-content: space-between;
    }
    #sobre_beneficios{
        max-width: 300px;
        width:auto;
        margin: 0 2.5vw;
    }
}

@media screen and (max-width: 1115px){
    /* navbar */
    .nav ul{
        display: none;
    }
    #container_tel{
        display:none;
    }
    #header{
        padding: 40px 4%;
    }
    #btn_menu{
        display: block;
    }
    .logo{
        width: 20rem;
        height: 10rem;
    }
    .logo{
        width: auto;
        height: 110px;
    }
    
}


@media screen and (min-width: 1460px){
    /* navbar */
    #header{
        padding: 60px 4%;
    }
    #header.rolagem{
        padding-top: 20px;
    }
    .logo{
        height: 130px;
    }
    .nav ul li a{
        font-size: 23px;
    }
    
}

@media screen and (min-width: 1281px){
    /* navbar */
    #header{
        padding: 40px 1%;
    }
}

@media screen and (max-width: 1280px){
    /* navbar */
    #header{
        padding: 40px 3%;
    }
    #container_tel{
        display:none;
    }
    .nav ul li a{
        padding: 15px 0;
    }
    
}

@media screen and (max-width: 1115px){
    /* navbar */
    .nav ul{
        display: none;
    }
    #container_tel{
        display:none;
    }
    #header{
        padding: 40px 4%;
    }
    #btn_menu{
        display: block;
        z-index: 2;
    .nav_mobile ul li a{
        font-size: 2.5rem;
        padding: 2rem 0;
    }
    .nav_mobile.abrir{
        visibility: visible;
        height: 100vh;
    }
    .logo{
        width: auto;
        height: 110px;
    }

    /* principal */
    #orcamento_main{
        width: 80vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 2.9rem;
        line-height: 4rem;
        margin-left: 10%;
    }
    #orcamento_main button{
        width: 280px;
        height: 55px;
        border-radius: 40px;
        font-size: 1.6rem;
        margin-left: 10%;
        margin-top: 2rem;
        padding-right: 20px;
    }
    #social_main img{
        margin-left: 20px;
    }

    /* sobre nos */
    #sobre_nos{
        padding: 0;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin-left: 8%;
    }
    #sobre_conteudo p{
        font-size: 2.75vw;
    }
    #sobre_img{
        width: 100%;
        padding: 8vh 4%;
        margin: 0;
    }
    #sobre_img img{
        width: 35vw;
    }
    .flex-sobre-b{
        padding: 0 8%;
        margin: 5vh 0;
        align-content: space-between;
    }
    #sobre_beneficios{
        max-width: 300px;
        width:auto;
        margin: 0 2.5vw;
    }
    #sobre_beneficios h2{
        font-size: 5vw;
        margin: 0;
    }
    #sobre_beneficios h3{
        font-size: 3.5vw;
    }

    
}
}
/*footer*/

@media screen and (max-width: 750px) {
    /* nab bar */
    .nav ul{
        display: none;
    }
    #container_tel{
        display:none;
    }
    #header{
        padding: 40px 4%;
    }
    #btn_menu{
        display: block;
    }
    .nav_mobile ul li a{
        font-size: 2rem;
        padding: 25px 0;
    }
    .nav_mobile.abrir{
        visibility: visible;
        height: 100vh;
    }
    .logo{
        width: auto;
        height: 110px;
    }

    /* principal */
    #orcamento_main{
        width: 80vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 2rem;
        line-height: 2.6rem;
        margin-left: 10%;
    }
    #orcamento_main button{
        width: 270px;
        height: 50px;
        border-radius: 40px;
        font-size: 1.3rem;
        margin-left: 10%;
        margin-top: 2rem;
        padding-right: 20px;
    }
    #social_main label{
        display: none;
    }
    #social_main hr{
        display: none;
    }
    #social_main img{
        margin-left: 20px;
    }

    /* sobre nos */
    .flex-sobre{
        flex-direction: column-reverse;
    }
    #sobre_nos{
        padding: 0;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin: 0;
    }
    #sobre_conteudo h1{
        display: none;
    }
    #sobre_conteudo p{
        font-size: 1.4rem;
        margin-inline: 8%;
    }
    #sobre_img{
        width: 100%;
        padding: 0 8%;
        margin: 0;
    }
    #sobre_img h1{
        display: block;
        font-family: 'Barlow SemiCondensed Bold';
        color: var(--laranja);
        font-size: 2.4rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;
        margin: 2rem 0;
    }
    #sobre_img img{
        width: 50vw;
    }
    .flex-sobre-b{
        flex-direction: column;
        padding: 0 5vw;
        align-items: center;

    }
    #sobre_beneficios{
        width: auto;
        margin-bottom: 3rem;
        align-items: center;
    }
    #sobre_beneficios h2{
        font-size: 3rem;
        margin-bottom: .5rem;
    }
    #sobre_beneficios h3{
        font-size: 2rem;
        max-width: 335px;
        width: auto;
        margin-inline: auto;
    }
    


    /* footer */
    .footer_content{
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }
}


@media screen and (max-width: 426px) {
    /* navbar */
    .nav_mobile ul li a{
        font-size: 1.5rem;
        padding: 25px 0;
    }

    /* princiapl */
    #orcamento_main{
        width: 80vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 1.7rem;
        line-height: 2.6rem;
        margin-left: 10%;
    }
    #orcamento_main button{
        width: 270px;
        height: 50px;
        border-radius: 40px;
        font-size: 1.3rem;
        margin-left: 10%;
        margin-top: 2rem;
        padding-right: 20px;
    }
    #social_main label{
        display: none;
    }
    #social_main hr{
        display: none;
    }
    #social_main img{
        display: none;
    }

    /* sobre nos */
    .flex-sobre{
        flex-direction: column-reverse;
    }
    #sobre_nos{
        padding: 0;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin: 0;
    }
    #sobre_conteudo h1{
        display: none;
    }
    #sobre_conteudo p{
        font-size: 1.15rem;
        margin-inline: 8%;
    }
    #sobre_img{
        width: 100%;
        padding: 0 8%;
        margin: 0;
    }
    #sobre_img h1{
        display: block;
        font-family: 'Barlow SemiCondensed Bold';
        color: var(--laranja);
        font-size: 2.2rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;
        margin: 2rem 0;
    }
    #sobre_img img{
        width: 250px;
    }
    .flex-sobre-b{
        flex-direction: column;
        padding: 0 5vw;
    }
    #sobre_beneficios{
        width: auto;
        margin-bottom: 3rem;
        align-items: center;
    }
    #sobre_beneficios h2{
        font-size: 3rem;
        margin-bottom: .5rem;
    }
    #sobre_beneficios h3{
        font-size: 2rem;
        max-width: 335px;
        width: auto;
        margin-inline: auto;
    }

    /* rodapé */
    .footer_content{
        display:grid;
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 426px) and (min-height: 900px) {
    /* navbar */
    .nav_mobile ul li a{
        font-size: 1.9rem;
    }
}
