/* Fontes */
@font-face{
    font-family: 'Barlow Bold';
    src: url('fonts/Barlow-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Medium';
    src: url('fonts/Barlow-Medium.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Regular';
    src: url('fonts/Barlow-Regular.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Condensed Bold';
    src: url('fonts/BarlowCondensed-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow SemiCondensed Bold';
    src: url('fonts/BarlowSemiCondensed-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sans Regular';
    src: url('fonts/OpenSans-Regular.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sauce';
    src: url('fonts/OpenSauceOne-Bold.ttf')
    format('truetype');
}

:root{
    --cinza: #545454;
    --laranja: #f79126;
    --cinza-claro: #d9d9d9;
    --white: #fff;
    --cinza-medio: #a6a6a6;
    --amarelo: #ffde59;
    --bege: #e9e9d2;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/* Navbar */
.container{
    max-width: 2000px;
    width: auto;
    margin:auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header{
    width: 100%;
    height: 17vh;
    padding-top: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}
#header.rolagem{
    background: linear-gradient(to bottom, #545454,#545454,#454545, #373737, #373737, transparent);
    opacity: 80%;
    padding-top: 10px;
    transition: .5s .1s;
}
#header.rolagem #container_tel{
    visibility: hidden;
    transition: .1s;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline-block;
    margin: 0 20px;
}
.nav ul li a{
    font-family: 'Barlow Bold';
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}
.nav ul li a:hover{
    font-family: 'Barlow Bold';
    font-size: 22px;
    color: var(--laranja);
    transition: .5s;
}
.logo{
    width: auto;
    height: 110px;
}
#container_tel{
    display: flex;
    align-items: center;
}
#container_tel img{
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
}
#container_tel a{
    font-family: 'Barlow Bold';
    font-size: 20px;
    margin-left: 16px;
    color: var(--white);
    text-decoration: none;
}
#container_tel a:hover{
    font-family: 'Barlow Bold';
    font-size:22px;
    margin-left: 16px;
    color: var(--laranja);
    transition: .2s;
}


/* Navbar Mobile */
#btn_menu{
    width: 50px;
    height: 50px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    display: none;
    z-index: 8;
}
.linha{
    width: 35px;
    height: 3px;
    background-color: var(--white);
    display: block;
    margin: 10px auto;
    border-radius: 80px;
    position: relative;
    transform-origin: center;
    transition: .2s;
}
#btn_menu.hamburguer .linha:nth-child(1) {
    transform: translateY(13px) rotate(-45deg);
}
#btn_menu.hamburguer .linha:nth-child(2) {
    width:0;
}
#btn_menu.hamburguer .linha:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
}
.nav_mobile{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: #54545493;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    padding-top: 20vh;
    visibility:hidden;
    transition: 1s easy out;
}
.nav_mobile ul{
    list-style: none;
}
.nav_mobile ul li{
    text-align: center;
}
.nav_mobile ul li a{
    font-family: 'Barlow Bold';
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    display:inline-flex;
    padding: 25px 0px;
}
.nav_mobile ul li a:hover{
    font-family: 'Barlow Bold';
    font-size: 32px;
    color: var(--laranja);
    transition: .5s;
}


/* Principal */
.banner video{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}
#sombra_superior{
    width: 100%;
    height: 50vh;
    background-color: linear-gradient(180deg, black, #353434, #505050, #d9d9d9);
    opacity: 60%;
    position: absolute;
    top: 0;
    z-index: 2;
}
#sombra_esquerda{
    width: 50%;
    height: 100vh;

    background: linear-gradient(to right, black, #353434, #505050, #d9d9d91f);
    opacity: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#orcamento_main{
    width: 45vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
#orcamento_main h1{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 3rem;
    color: var(--white);
    text-align: left;
    text-shadow: black 0.1em 0.1em 0.4em;
    line-height: 80px;
    margin-top: 33vh;
    margin-left: 15%;
}
#orcamento_main button{
    width: 300px;
    height: 60px;
    background: linear-gradient(90deg, #ff6c10,#ff6c10, #ebbc00);
    border: 0px;
    border-radius: 40px;
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 1.5rem;
    text-align: left;
    color: var(--white);
    margin-top: 2.5rem;
    margin-left: 15%;
    padding-inline: 20px 40px;
    cursor: pointer;
}
#orcamento_main button:hover{
    width: 305px;
    height: 65px;
    background: linear-gradient(90deg, #ebbc00,#ff6c10,#ff6c10);
    transition: 0.5s;
}
#orcamento_main img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    position: absolute;
}
#sombra_direita{
    width: 50%;
    height: 100vh;
    position: absolute;
    margin-block: auto;
    top: 0;
    right: 0;

    background: linear-gradient(to left, black, #353434, #505050, #d9d9d91f);
    opacity: 60%;
    z-index: 1;
}
#social_main{
    position:absolute;
    bottom: 40px;
    right: 20px;
    display: flex;
    z-index: 4;
    align-items: center;
}
#social_main label{
    font-family: 'Open Sauce';
    font-size: 1rem;
    color: var(--white);
    margin-right: 10px;
}
#social_main hr{
    height:40px;
}
#social_main img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#social_main img:hover{
    width: 40px;
    height: 40px;
    transition: .2s;
}


/* Serviços */
#servicos{
    height: 100vh;
    background-image: url(img/fundo.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-block-end: 30px;
    
}
#servicos h1{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 70px;
    color: var(--laranja);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 3;
    text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;

}
#fundo_servicos{
    width: auto;
    height: 50rem;
    margin-inline: 10%;
    background-color: var(--bege);
    border-radius: 5rem;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    margin-top: -4rem;
}
.imagens{
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: -35rem;
    margin-inline: 20rem;
    
}
.imagens .caixa{
    position: relative ;
    z-index: 5;
    width:300px;
    height: 400px;
    background-color: #fff;
    margin-inline: 1rem;
    border-radius: 2rem;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5), 0 -15px 15px -15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    background-size: cover;
   
}
.imagens .caixa:hover{
    scale: 1.2;
    transition: .5s;
    cursor:pointer;
    
}
.imagens .caixa::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 2rem;
    background-size: cover;
    filter: blur(25px);
    opacity: 0.5;
    z-index:2

}
.imagens .caixa:hover::before{
    opacity:0;
    transition: .2s;
}
.titulo-img{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-size: 20px;
    font-family: 'Barlow SemiCondensed Bold';
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
    opacity: 0; /* Inicia invisível */
    transition: 0.3s ease;
}
.caixa:hover .titulo-img {
    opacity: 1; /* Torna visível ao passar o mouse na caixa */
}
.fundo_caixa{
    opacity: 0;
    transition: .5s ease, pointer-events 0s 0.5s;
    width: 1100px;
    height: 600px;
    border-radius: 2rem;
    position:relative;
    top:-55%;
    margin-inline: 21%;
    z-index: 5;
    box-shadow: 15px 0px 15px -5px rgba(0, 0, 0, 0.3), -15px 0px 15px -5px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px); /* Aplica um desfoque de 10 pixels no fundo */
    backdrop-filter: blur(10px); 
    background-color: rgba(214, 214, 214, 0.7); /* Define uma cor de fundo com transparência */
    padding: 2rem;
}
.fundo_caixa .visivel{
    opacity: 1;
}
.caixa .visivel{
    opacity: 1;
}

#InformacoesDiv h2 {
    font-family:'Barlow SemiCondensed Bold' ;
    font-size: 50px;
    color: #545454;
    position: relative;
    top: 2rem;
    left:42%;
}
#informacoesDiv h1{
    font-size: 25px;
    color: #545454;
    text-align:left;
    margin-left: 8rem;
    margin-top: 5%;
    font-family: 'Barlow Regular';
} 

#img-infos {
    width: 400px;
    height: 550px;
    padding:1rem;
    border-radius: 2rem;
    margin-top:-7% ;
    background-size: cover;
}
#voltar{
    width: auto;
    height: auto;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    background-color: var(--cinza-medio);
    color: var(--cinza);
    border-radius: 2rem;
    font-size: 25px;
    font-family:'Barlow Condensed Bold' ;
    border-style: none;
    position: relative;
    left: 88%;
    bottom: 2.5rem;
    cursor: pointer;
}
#voltar:hover{
    opacity: 0.5;
    transition: 0.3s ease;
}


/* Sobre Nós */
.flex-sobre{
    display:flex;
}
#sobre_nos{
    width: 100%;
    padding-top: 20vh;
    background-image: url(img/fundo.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

}
#sobre_conteudo{
    padding-right: 2%;
    padding-bottom: 4rem;
    margin-left: 8%;
}
#sobre_conteudo h1{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 3.75rem;
    color: var(--laranja);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;
    margin-bottom: 2rem;
}
#sobre_conteudo p{
    font-family: 'Barlow Regular';
    font-size: 1.7rem;
    line-height: 1.4em;
    text-align: left;
}
#sobre_img{
    margin-left: 3.2rem;
    padding: 10px 160px 20px 40px;
    background-image: url(img/ruido.png);
}
#sobre_img h1{
    display: none;
}
#sobre_img img{
    width: 340px;
}
.flex-sobre-b{
    display: flex;
    justify-content: space-between;
    margin: 10vh 0 0 0;
    padding: 0 10vw;
}
#sobre_beneficios{
    width: 300px;
}
#sobre_beneficios h2{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 3.25rem;
    color: var(--laranja);
    text-align: center;
    margin-bottom: 1rem;
}
#sobre_beneficios h3{
    font-family: 'Open Sans Bold';
    font-size: 2.27rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;
}
#sombra-inferior_sobre{
    width: 100%;
    height: 30vh;
    background: linear-gradient(to top, black, black,#313131,#545454, #d9d9d9, #d9d9d9,#ffffff);
    opacity: 80%;
}


/* Destaques */
#destaques{
    width: 100%;
    height: 100vh;
    position: relative;
}
#fund_dest_light{
    width: 100%;
    height: 100%;
    background-image: url(img/fundo.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
#fund_dest_dark{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 80%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
#titulos_dest{
    width: 100%;
    height: 100%;
    padding-top: 12vh;
    position: absolute;
    left:0;
    z-index: 2;
}
#titulos_dest2{
    display: none;
}
#destaques h1{
    font-family: 'Barlow Condensed Bold';
    font-size: 6.8rem;
    opacity: 17%;
}
#normal1{
    color:#EDEDE8;
    margin-left: 18vw;
}
#normal2{
    color:#EDEDE8;
    text-align:right;
    position:absolute;
    bottom: 0;
    right: 3vw;
}
#vazado1{
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #F6F6EF;
    margin: 5.5vw 30% 0 40%;
}
#vazado2{
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #F6F6EF;
    margin: 0 39% 0 31%;
}
#blocos_dest{
    width: 100%;
    justify-content: space-between;
    padding-inline: 7vw;
    display: flex;
    position: absolute;
    top:25vh;
    left:0;
    z-index: 3;
}
.bloco p{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease 2s; 
}
.bloco.expandido p{
    display: block;
    font-size: 1rem;
    font-family: 'Barlow Regular';
    text-align: left;
    margin-top: 10px;
    margin-inline: 10px;
    opacity: 1;
    transition-delay: 1s;
}
#fund_altura{
    width: 25vw;
    height: 29vw;
    background-color: #F6F6EF;
    border-radius: 2rem;
    text-align: center;
    margin-top: 3vw;
    padding: 2.5px;
    transition-duration: .5s;
}
#fund_altura.expandido{
    height: 37vw;
    margin-top: 0;
}
#img_altura{
    background-image: url(img/hidrojateamento3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#fund_altura.expandido #img_altura{
    height: 16vw;
    background-image: url(img/hidrojateamento2.jpg);
}
#fund_altura.expandido .seta_dest{
    transform-origin: center;
    transform: rotate(180deg);
}
#fund_garagem{
    width: 25vw;
    height: 36vw;
    background-color: #F6F6EF;
    border-radius: 2rem;
    text-align: center;
    padding: 2.5px;
    transition-duration: .5s;
}
#fund_garagem.expandido{
    height: 37vw;
    margin-top: 0;
}
#img_garagem{
    background-image: url(img/hidrojateamento3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#fund_garagem.expandido #img_garagem{
    height: 16vw;
    background-image: url(img/hidrojateamento2.jpg);
}

#fund_garagem.expandido .seta_dest{
    transform-origin: center;
    transform: rotate(180deg);
}
#fund_quadra{
    width: 25vw;
    height: 29vw;
    background-color: #F6F6EF;
    border-radius: 2rem;
    text-align: center;
    margin-top: 3vw;
    padding: 2.5px;
    transition-duration: .5s;
}
#fund_quadra.expandido{
    height: 37vw;
    margin-top: 0;
}
#img_quadra{
    background-image: url(img/hidrojateamento3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#fund_quadra.expandido #img_quadra{
    height: 16vw;
    background-image: url(img/hidrojateamento2.jpg);
}
#fund_quadra.expandido .seta_dest{
    transform-origin: center;
    transform: rotate(180deg);
}
.conteudo_dest{
    width: 24.6vw;
    height: 20vw;
    border-radius: 1.8rem;
    transition-duration: .6s;
}
.conteudo_dest2{
    width: 24.6vw;
    height: 26vw;
    border-radius: 1.8rem;
    transition: height 0.5s ease;
}
.txt_blocos{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 1.5rem;
    color: black;
    margin-top: .75rem;
}
.seta_dest{
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1rem;
    transition: .2s;
    cursor: pointer;
}

/*Portifólio*/

#portifolio{
    height: 100vh;
    background-image: url(img/fundocomruido.png);
    background-size: cover;
}

#title_port{
    font-family:'Barlow Bold' ;
    color: var(--laranja);
    font-size: 70px;
    text-align: center;
}

#fundo_port{
    width: 28rem;
    height: 6rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: #ebbc00;
    position: relative;
    left: 10rem;
    top: 6rem;
    transform: rotate(-7deg);
    z-index: 2;
}
.references{
    align-items: center;
    justify-content: center;
}
.card .image-box{
    height: 200px;
}
.card .image-box img{
    height: 200px;
}


/*Contato*/

#contato{
    height: 100%;
    width: 100%;
    background-image: url(img/fundo.png);
    background-size: contain;

}

#title-contato{
    font-family: 'Barlow Condensed Bold';
    color: #F79126;
    text-align: center;
    font-size: 6rem;
    text-shadow: #545454;
    opacity: 0.4;
    text-shadow: rgba(0, 0, 0, 0.363) 0em 0rem 0.25em;
}
.contato1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.content_contato{
    border-radius: 14px;
    width:100%;
    max-width: 400px;

}

.content_contato h2{
    font-family: 'Barlow Regular';
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.destacado_h2{
    font-family: 'Barlow SemiCondensed Bold';
    font-size: 1.7rem;
    color: #ebbc00;
}
.form{
    padding: 18px;
}
.form-content{
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
}

.form-content input{
    display:block;
    width:100%;
    border-radius: 1.5rem;
    padding: 15px;
    border: 1px solid #000000;
    background-color: transparent;
}

.form-content ::placeholder{
    font-family: 'Barlow Regular';
    font-size: 16px;
    color: #000000;
}
.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
    
}

.form-content textarea{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 1rem;
    background-color: transparent;
    padding: 10px;
    height: 100px;
}

.form button{
    background-image: linear-gradient(to right, #FFD700, #FF6347);
    color: #fff ;
    width: 100%;
    border-radius: 1.2rem;
    padding: 10px;
    border: 0;
    font-size: 18px;
   font-family: 'Barlow Bold';
    cursor: pointer;
    margin-top: 14px;
}

.form-content.error input{
    border-color: #ff2b25;
}

.form-content.error a{
    color: #ff2b25;
    visibility: visible;
}


.blocos_contato{
   margin-left: 5rem;
   align-items: center;
}


#blococont{
    padding-inline:15px;
    padding-block: 3px;
    background-color: #ECECEC;
    border-radius: 40px;
    margin:20px;
    display: flex;
    align-items: center;
}

#blococont h3{
    font-family: 'Open Sans Regular';
    font-size: 20px;
    color: #454545;
    margin-left: 10px;
}

.localizacao{
    text-align: center;
}

.localizacao h2{
    font-family: 'Open Sauce';
    font-size: 15px;
    color: #454545;
    padding-bottom: 50px;
}
.localizacao iframe{
    margin: 20px;
    width:1000px;
    height:350px;
    border:0; 
    allowfullscreen:"";
}


/* Rodapé */
footer{
    width: 100%;
    color: var(--white);
    font-family: 'Barlow Regular';
    justify-content: end;
}
.footer_content{
    background-color: var(--cinza);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2.5rem;
}
#footer_contacts {
    margin-bottom: 0.75rem;
}
#telefone{
    align-items: center;
    display: flex;
}
#logo{
    width: 20rem;
    height:10rem;
}
#footer-link{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    gap:2rem;
    transition: all 0.4s;
    justify-content: center;
}
#footer-link:hover{
    height: 2.5rem;
    width: 2.5rem;
    opacity: 0.5;
}
.footer-list{
    display: flex;
    flex-direction :column;
    gap:0.75rem;
    list-style: none;
    margin-inline: 3rem;
}
#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--cinza);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight:100;
}

/* Responsividade */
@media screen and (min-width: 1460px){
    /* Navbar */
    #header{
        padding: 60px 4%;
    }
    #header.rolagem{
        padding-top: 20px;
    }
    .logo{
        height: 130px;
    }
    .nav ul li a{
        font-size: 1.6vw;
    }
    .nav ul li a:hover{
        font-size: 1.7vw;
    }
    #container_tel a{
        font-size: 1.6vw;
    }
    #container_tel a:hover{
        font-size: 1.7vw;
    }

    /* Sobre Nós */
    #sobre_conteudo h1{
        font-size: 4vw;
        margin-bottom: 3rem;
    }
    #sobre_conteudo p{
        font-size: 2vw;
    }
    #sobre_img img{
        width: 28vw;
    }
    #sobre_beneficios h2{
        font-size: 3vw;
    }
    #sobre_beneficios h3{
        font-size: 2.6vw;
    }
    
    /* Destaques */
    #destaques h1{
        font-size: 8rem;
    }
    #vazado1{
        margin: 10vw 35% 0 35%;
    }
    .txt_blocos{
        font-size: 1.8rem;
        margin-top: 1rem;
    }
    .bloco.expandido p{
        font-size: 1.3rem;
        margin-top: 15px;
        margin-inline: 15px;
    }
    #fund_altura{
        height: 30vw;
    }
    #fund_altura.expandido{
        height: 44vw;
    }
    #fund_garagem{
        height: 37vw;
    }
    #fund_garagem.expandido{
        height: 44vw;
    }
    #fund_quadra{
        height: 30vw;
    }
    #fund_quadra.expandido{
        height: 44vw;
    }
    .seta_dest{
        width: 2.2rem;
        height: 2.2rem;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1281px){
    /* Navbar */
    #header{
        padding: 40px 1%;
    }

    /* Principal */
    #orcamento_main{
        width: 50vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 3.4rem;
        margin-left: 10%;
        line-height: 80px;
    }
    #orcamento_main button{
        width: 300px;
        height: 60px;
        font-size: 1.6rem;
        margin-left: 10%;
        margin-top: 2.5rem;
    }
    #social_main{
        bottom: 60px;
        right: 40px;
    }
    #social_main label{
        font-size: 1.2rem;
        margin-right: 20px;
    }
    #social_main hr{
        height:50px;
    }
    #social_main img{
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    #social_main img:hover{
        width: 40px;
        height: 40px;
        transition: .2s;
    }
    
    
}



@media screen and (max-width: 1800px){
    /*Serviços*/

    .imagens{
        margin-top: -35rem;
        margin-inline: 10%;
    }

    .fundo_caixa{
        width: 1000px;
        height: 500px;
        margin-inline: 18%;
    }

    #InformacoesDiv h2{
        font-size: 50px;
        position: relative;
        left: 42%;
        top: 0rem;
    }

    #InformacoesDiv h1{
        margin-left: 7rem;
        margin-top: 2%;
    }

    #img-infos{
        width: 350px;
        height: 450px;
        padding: 0.5rem;
    }

    
}




@media screen and (max-width: 1280px){
    /* Navbar */
    #header{
        padding: 40px 3%;
    }
    #container_tel{
        display:none;
    }
    .nav ul li a{
        padding: 15px 0;
    }

    /* Principal */
    #orcamento_main{
        width: 80vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 3.4rem;
        margin-left: 10%;
        line-height: 80px;
    }
    #orcamento_main button{
        font-size: 1.6rem;
        margin-left: 10%;
        margin-top: 2.5rem;
    }
    #social_main{
        bottom: 60px;
        right: 40px;
    }
    #social_main label{
        font-size: 1.2rem;
        margin-right: 20px;
    }
    #social_main hr{
        height:50px;
    }
    #social_main img{
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    #social_main img:hover{
        width: 40px;
        height: 40px;
        transition: .2s;
    }

    /*Serviços*/
    #fundo_servicos{
        margin-inline: 5% ;
        height: 50rem;
        margin-top: -5%;
    }
    .imagens{
        margin-inline: 4rem;
    }

    .fundo_caixa{
        width: 1000px;
        height: 500px;
        margin-inline: 10%;
    }

    #InformacoesDiv h2{
        font-size: 50px;
        position: relative;
        left: 42%;
        top: 0rem;
    }

    #InformacoesDiv h1{
        margin-left: 7rem;
        margin-top: 2%;
    }

    #img-infos{
        width: 350px;
        height: 450px;
        padding: 0.5rem;
    }

    
    /* Sobre Nós */
    #sobre_nos{
        padding: 0;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin-left: 8%;
    }
    #sobre_conteudo h1{
        font-size: 2.75vw;
    }
    #sobre_conteudo p{
        font-size: 2.75vw;
    }
    #sobre_img{
        width: 100%;
        padding: 8vh 4%;
        margin: 0;
    }
    #sobre_img img{
        width: 35vw;
    }
    .flex-sobre-b{
        padding: 0 8%;
        margin: 5vh 0;
        align-content: space-between;
    }
    #sobre_beneficios{
        max-width: 300px;
        width:auto;
        margin: 0 2.5vw;
    }
    #sobre_beneficios h2{
        font-size: 5vw;
        margin: 0;
    }
    #sobre_beneficios h3{
        font-size: 3.5vw;
    }

     /* Destaques */
     #vazado1{
        margin: 10vw 35% 0 35%;
     }
    .txt_blocos{
        font-size: 1.8vw;
    }
    .bloco.expandido p{
        font-size: 1.3vw;
    }
    #fund_altura.expandido{
        height: 40.5vw;
    }
    #fund_garagem.expandido{
        height: 40.5vw;
    }
    #fund_quadra.expandido{
        height: 40.5vw;
    }
    
}

@media screen and (max-width: 1115px){
    /* Navbar */
    .nav ul{
        display: none;
    }
    #container_tel{
        display:none;
    }
    #header{
        padding: 40px 4%;
    }
    #btn_menu{
        display: block;
        z-index: 2;
    }
    .nav_mobile ul li a{
        font-size: 2.5rem;
        padding: 2rem 0;
    }
    .nav_mobile.abrir{
        visibility: visible;
        height: 100vh;
    }
    .logo{
        width: auto;
        height: 110px;
    }

    /* Principal */
    #orcamento_main{
        width: 80vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 2.9rem;
        line-height: 4rem;
        margin-left: 10%;
    }
    #orcamento_main button{
        border-radius: 40px;
        font-size: 1.6rem;
        margin-left: 10%;
        margin-top: 2rem;
        padding-right: 20px;
    }
    #social_main img{
        margin-left: 20px;
    }

    /* Sobre Nós */
    #sobre_nos{
        padding-top: 15vw;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin-left: 8%;
    }
    #sobre_conteudo h1{
        font-size: 4.5vw;
    }
    #sobre_conteudo p{
        font-size: 2.75vw;
    }
    #sobre_img{
        width: 100%;
        padding: 8vh 4%;
        margin: 0;
    }
    #sobre_img img{
        width: 35vw;
    }
    #sobre_beneficios h2{
        font-size: 4.5vw;
        margin: 0;
    }
    #sobre_beneficios h3{
        font-size: 3.5vw;
    }

    
    /* Destaques */
    #destaques{
        height: 350vw;
    }
    #destaques h1{
        font-size: 13vw;
    }
    #titulos_dest{
        display: none;
    }
    #titulos_dest2{
        width: 100%;
        height: 30%;
        position: absolute;
        top: 15vh;
        left:0;
        z-index: 2;
        display: block;
    }
    #normal{
        color:#EDEDE8;
        position:absolute;
        top: 0;
        left: 25%;
        right: 25%;
        margin: 0;
    }
    #vlinha1{
        width: 100%;
        display: flex;
        margin-top: 15vw;
    }
    #vlinha1 h1{
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #F6F6EF;
        margin-inline: 0;
        overflow: hidden;
        text-overflow: clip;
    }
    #vlinha2{
        width: 100%;
        display: flex;
        margin-top: 2vw;
    }
    #vlinha2 h1{
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #F6F6EF;
        margin-right: 0;
        overflow: hidden;
        text-overflow: clip;
    }
    #blocos_dest{
        padding-inline: 0;
        display:block;
        position: absolute;
        top: 40vw;
        left:0;
        z-index: 3;
    }
    #fund_altura{
        width: 60vw;
        height: 80vw;
        border-radius: 3rem;
        padding: 3px;
        margin-inline: 20vw;
        margin-top: 0;
    }
    #fund_altura.expandido{
        width: 60vw;
        height: 85vw;
    }
    #fund_altura.expandido #img_altura{
        height: 40vw;
    }
    #fund_garagem{
        width: 60vw;
        height: 80vw;
        border-radius: 3rem;
        padding: 3px;
        margin-inline: 20vw;
        margin-top: 28vw;
    }
    #fund_garagem.expandido{
        width: 60vw;
        height: 85vw;
        margin-inline: 20vw;
        margin-top: 28vw;
    }
    #fund_garagem.expandido #img_garagem{
        height: 40vw;
    }
    #fund_quadra{
        width: 60vw;
        height: 80vw;
        border-radius: 3rem;
        padding: 3px;
        margin-inline: 20vw;
        margin-top: 28vw;
    }
    #fund_quadra.expandido{
        width: 60vw;
        height: 85vw;
        margin-inline: 20vw;
        margin-top: 28vw;
    }
    #fund_quadra.expandido #img_quadra{
        height: 40vw;
    }
    .bloco.expandido p{
        font-size: 2.5vw;
        text-align: left;
        margin-top: 2vw;
        margin-inline: 4vw;
    }
    .conteudo_dest{
        width: 59vw;
        height: 60vw;
        border-radius: 2.8rem;
        transition-duration: .6s;
    }
    .conteudo_dest2{
        width: 59vw;
        height: 60vw;
        border-radius: 2.8rem;
        transition-duration: .6s;
    }
    .txt_blocos{
        font-size: 4vw;
        margin-top: 2vw;
    }
    .seta_dest{
        width: 5vw;
        height: 5vw;
        margin-top: 2vw;
    }
    
    /*Serviços*/

    .fundo_caixa{
        margin-inline: 2rem;
    }

}


@media screen and (max-width: 850px) {
    /* Navbar */
    .nav ul{
        display: none;
    }
    #container_tel{
        display:none;
    }
    #header{
        padding: 40px 4%;
    }
    #btn_menu{
        display: block;
    }
    .nav_mobile ul li a{
        font-size: 2rem;
        padding: 25px 0;
    }
    .nav_mobile.abrir{
        visibility: visible;
        height: 100vh;
    }
    .logo{
        width: auto;
        height: 110px;
    }

    /* Principal */
    #orcamento_main{
        width: 80vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 2rem;
        line-height: 2.6rem;
        margin-left: 10%;
    }
    #orcamento_main button{
        width: 270px;
        height: 50px;
        border-radius: 40px;
        font-size: 1.3rem;
        margin-left: 10%;
        margin-top: 2rem;
        padding-right: 20px;
    }
    #social_main label{
        display: none;
    }
    #social_main hr{
        display: none;
    }
    #social_main img{
        margin-left: 20px;
    }


    /*Serviços*/


    .imagens{
        margin-top: -40rem;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-inline: 10rem;
       }
   
       .imagens .caixa{
            width:200px;
            height: 280px;
           margin: 1rem;
       }
   
       .imagens .caixa::before{
           opacity: 0.2;
       }
   
       .titulo-img{
           opacity: 1;
       }

    .fundo_caixa{
        width: 500px;
        height: 650px;
        padding: 0;
        top:-40rem;
        margin-inline: 10rem ;
    }

    #img-infos{
        width: 450px;
        height: 200px;
        margin-top: -5%;
        margin-left: 5%;
        background-size: cover;
        background-position-y: -190px;
    
    }

    #InformacoesDiv h1{
        margin-top: 17rem;
        left: 1%;
        transform: translate(-15%);
        text-align: justify;
        align-items: center;
        font-size: 20px;
    }

    #InformacoesDiv h2{
        left: 0%;
        top: 15rem;
        font-size: 35px;
        text-align: center;
    }

    #voltar{
        top: 22rem;
        left: 30%;
        translate: transform(-30%);
        padding-inline: 5rem;
        padding-block: 0.7rem;
        opacity: 0.8;
    }


    /* Sobre Nós */
    .flex-sobre{
        flex-direction: column-reverse;
    }
    #sobre_nos{
        padding: 0;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin: 0;
    }
    #sobre_conteudo h1{
        display: none;
    }
    #sobre_conteudo p{
        font-size: 1.4rem;
        margin-inline: 8%;
    }
    #sobre_img{
        width: 100%;
        padding: 0 8%;
        margin: 0;
    }
    #sobre_img h1{
        display: block;
        font-family: 'Barlow SemiCondensed Bold';
        color: var(--laranja);
        font-size: 2.4rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;
        margin: 2rem 0;
    }
    #sobre_img img{
        width: 50vw;
    }
    .flex-sobre-b{
        flex-direction: column;
        padding: 0 5vw;
        align-items: center;

    }
    #sobre_beneficios{
        width: auto;
        margin-bottom: 3rem;
        align-items: center;
    }
    #sobre_beneficios h2{
        font-size: 3rem;
        margin-bottom: .5rem;
    }
    #sobre_beneficios h3{
        font-size: 2rem;
        max-width: 335px;
        width: auto;
        margin-inline: auto;
    }
    
    /* Destaques */
    #destaques{
        height:300vh;
    }
    #destaques h1{
        font-size: 15vw;
    }
    #titulos_dest{
        display: none;
    }
    #titulos_dest2{
        width: 100%;
        height: 30%;
        position: absolute;
        left:0;
        z-index: 2;
        display: block;
    }
    #normal{
        color:#EDEDE8;
        position:absolute;
        top: 0;
        left: 20%;
        right: 20%;
        margin: 0;
    }
    #vlinha1{
        width: 100vw;
        display: flex;
        margin-top: 20vw;
        position:relative;
    }
    #vlinha1 h1{
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #F6F6EF;
        overflow: hidden;
        margin-inline: 0;
        margin-left: 60vw;
    }
    #vazado-1{
        position:absolute;
        left: -80vw;
    }
    #vlinha2{
        width: 100%;
        display: flex;
        margin-top: 5vw;
        position: relative;
    }
    #vlinha2 h1{
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #F6F6EF;
        overflow: hidden;
        margin-inline: 0;
        margin-left: 70vw;
    }
    #vazado-2{
        position:absolute;
        left: -70vw;
    }
    #blocos_dest{
        padding-inline: 0;
        display:block;
        position: absolute;
        top:35vh;
        left:0;
        z-index: 3;
    }
    #fund_altura{
        width: 60vw;
        height: 80vw;
        border-radius: 2rem;
        padding: 3px;
        margin-inline: 20vw;
        margin-top: 0;
    }
    #fund_altura.expandido{
        width: 60vw;
        height: 100vw;
    }
    #fund_altura.expandido #img_altura{
        height: 40vw;
    }
    #fund_garagem{
        width: 60vw;
        height: 80vw;
        border-radius: 2rem;
        padding: 3px;
        margin-inline: 20vw;
        margin-top: 28vw;
    }
    #fund_garagem.expandido{
        width: 60vw;
        height: 100vw;
        margin-inline: 20vw;
    }
    #fund_garagem.expandido #img_garagem{
        height: 40vw;
    }
    #fund_quadra{
        width: 60vw;
        height: 80vw;
        border-radius: 2rem;
        padding: 3px;
        margin-inline: 20vw;
        margin-top: 28vw;
    }
    #fund_quadra.expandido{
        width: 60vw;
        height: 100vw;
        margin-inline: 20vw;
    }
    #fund_quadra.expandido #img_quadra{
        height: 40vw;
    }
    .bloco.expandido p{
        font-size: 3vw;
        text-align: left;
        margin-top: 2vw;
        margin-inline: 4vw;
    }
    .conteudo_dest{
        width: 59vw;
        height: 60vw;
        border-radius: 1.8rem;
        transition-duration: .6s;
    }
    .conteudo_dest2{
        width: 59vw;
        height: 60vw;
        border-radius: 2.8rem;
        transition-duration: .6s;
    }
    .txt_blocos{
        font-size: 4.2vw;
        margin-top: 2vw;
    }
    .seta_dest{
        width: 7vw;
        height: 7vw;
        margin-top: 3vw;
    }


    /* Footer */
    .footer_content{
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }
}


@media screen and (max-width: 430px) {
    /* Navbar */
    .nav_mobile ul li a{
        font-size: 1.5rem;
        padding: 25px 0;
    }

    /* Principal */
    #orcamento_main{
        width: 80vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    #orcamento_main h1{
        font-size: 1.7rem;
        line-height: 2.6rem;
        margin-left: 10%;
    }
    #orcamento_main button{
        width: 270px;
        height: 50px;
        border-radius: 40px;
        font-size: 1.3rem;
        margin-left: 10%;
        margin-top: 2rem;
        padding-right: 20px;
    }
    #social_main label{
        display: none;
    }
    #social_main hr{
        display: none;
    }
    #social_main img{
        display: none;
    }


    /*Serviços*/
    #servicos{
        height: 70vh;
    }

    #fundo_servicos{
        margin-top: -3rem;
        height: 40rem;
    }

    #servicos h1{
        font-size: 40px;
    }
    .imagens{
        margin-inline: 0%;
        margin-top: -32rem;
    }

    .imagens .caixa{
        width:150px;
        height: 200px;
    }

    .titulo-img{
        font-size: 14px;
    }

    .fundo_caixa{
        width: 350px;
        height: 650px;
        top:-30rem;
        left: -27%;
    }

    #InformacoesDiv h2{
        font-size: 30px;
    }

    #InformacoesDiv h1{
        margin-top: 15.5rem;
        left:-10%;
        font-size: 17px;
    }


    #img-infos{
        width: 310px;
        height: 200px;
       background-position-y: -100px ;
    }

    #voltar{
        top: 23.5rem;
        padding-block: 0.2rem;
        left: 20%;
    }
    /* Sobre Nós */
    .flex-sobre{
        flex-direction: column-reverse;
    }
    #sobre_nos{
        padding: 0;
    }
    #sobre_conteudo{
        padding-block: 2rem;
        margin: 0;
    }
    #sobre_conteudo h1{
        display: none;
    }
    #sobre_conteudo p{
        font-size: 1.15rem;
        margin-inline: 8%;
    }
    #sobre_img{
        width: 100%;
        padding: 0 8%;
        margin: 0;
    }
    #sobre_img h1{
        display: block;
        font-family: 'Barlow SemiCondensed Bold';
        color: var(--laranja);
        font-size: 2.2rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.247) 0.1em 0.1em 0.25em;
        margin: 2rem 0;
    }
    #sobre_img img{
        width: 250px;
    }
    .flex-sobre-b{
        flex-direction: column;
        padding: 0 5vw;
    }
    #sobre_beneficios{
        width: auto;
        margin-bottom: 3rem;
        align-items: center;
    }
    #sobre_beneficios h2{
        font-size: 3rem;
        margin-bottom: .5rem;
    }
    #sobre_beneficios h3{
        font-size: 2rem;
        max-width: 335px;
        width: auto;
        margin-inline: auto;
    }
    

    /* Destaques */
    #destaques{
        height:500vw;
    }
    #destaques h1{
        font-size: 15vw;
    }
    #titulos_dest{
        display: none;
    }
    #titulos_dest2{
        width: 100%;
        height: 30%;
        position: absolute;
        left:0;
        z-index: 2;
        display: block;
    }
    #normal{
        color:#EDEDE8;
        position:absolute;
        top: 0;
        left: 20%;
        right: 20%;
        margin: 0;
    }
    #vlinha1{
        width: 100vw;
        display: flex;
        margin-top: 20vw;
        position:relative;
    }
    #vlinha1 h1{
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #F6F6EF;
        overflow: hidden;
        margin-inline: 0;
        margin-left: 60vw;
    }
    #vazado-1{
        position:absolute;
        left: -80vw;
    }
    #vlinha2{
        width: 100%;
        display: flex;
        margin-top: 5vw;
        position: relative;
    }
    #vlinha2 h1{
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #F6F6EF;
        overflow: hidden;
        margin-inline: 0;
        margin-left: 70vw;
    }
    #vazado-2{
        position:absolute;
        left: -70vw;
    }
    #blocos_dest{
        padding-inline: 0;
        display:block;
        position: absolute;
        top:55vw;
        left:0;
        z-index: 3;
    }
    #fund_altura{
        width: 70vw;
        height: 100vw;
        border-radius: 2rem;
        padding: 3px;
        margin-inline: 15vw;
        margin-top: 0;
    }
    #fund_altura.expandido{
        width: 70vw;
        height: 120vw;
        margin-inline: 15vw;
    }
    #img_altura{
        width: 69vw;
        height: 75vw;
    }
    #fund_altura.expandido #img_altura{
        height: 60vw;
    }
    #fund_garagem{
        width: 70vw;
        height: 100vw;
        border-radius: 2rem;
        padding: 3px;
        margin-inline: 15vw;
        margin-top: 50vw;
    }
    #fund_garagem.expandido{
        width: 70vw;
        height: 120vw;
        margin-inline: 15vw;
        margin-top: 28vw;
    }
    #img_garagem{
        width: 69vw;
        height: 75vw;
    }
    #fund_garagem.expandido #img_garagem{
        height: 60vw;
    }
    #fund_quadra{
        width: 70vw;
        height: 100vw;
        border-radius: 2rem;
        padding: 3px;
        margin-inline: 15vw;
        margin-top: 50vw;
    }
    #fund_quadra.expandido{
        width: 70vw;
        height: 120vw;
        margin-inline: 15vw;
    }
    #img_quadra{
        width: 69vw;
        height: 75vw;
    }
    #fund_quadra.expandido #img_quadra{
        height: 60vw;
    }
    .bloco.expandido p{
        font-size: 3.4vw;
        text-align: left;
        margin-top: 2vw;
        margin-inline: 4vw;
    }
    .conteudo_dest{
        width: 59vw;
        height: 60vw;
        border-radius: 1.8rem;
        transition-duration: .6s;
    }
    .conteudo_dest2{
        width: 59vw;
        height: 60vw;
        border-radius: 1.8rem;
        transition-duration: .6s;
    }
    .txt_blocos{
        font-size: 5.2vw;
        margin-top: 2vw;
    }
    .seta_dest{
        width: 7vw;
        height: 7vw;
        margin-top: 3vw;
    }


    /* Rodapé */
    .footer_content{
        display:grid;
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 426px) and (min-height: 900px) {
    /* Navbar */
    .nav_mobile ul li a{
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 360px) {
    /*Serviços*/
    .fundo_caixa{
        left: -43%;
    }
}

@media screen and (max-width: 375px) {
    /*Serviços*/
    .fundo_caixa{
        left: -40%;
    }
}