/** fontes **/
@font-face{
    font-family: 'Barlow Bold';
    src: url('fonts/Barlow-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Medium';
    src: url('fonts/Barlow-Medium.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Regular';
    src: url('fonts/Barlow-Regular.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow Condensed Bold';
    src: url('fonts/BarlowCondensed-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Barlow SemiCondensed Bold';
    src: url('fonts/BarlowSemiCondensed-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sans Regular';
    src: url('fonts/OpenSans-Regular.ttf')
    format('truetype');
}
@font-face{
    font-family: 'Open Sauce';
    src: url('fonts/OpenSauceOne-Bold.ttf')
    format('truetype');
}

:root{
    --cinza: #545454;
    --laranja: #f79126;
    --cinza-claro: #d9d9d9;
    --white: #fff;
    --cinza-medio: #a6a6a6;
    --amarelo: #ffde59;
    --bege: #f6f6ef;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 1px;
}bar

/** navbar **/
.container{
    max-width: 1280px;
    margin:auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header{
    width: 100%;
    padding-top: 40px;
    position: fixed;
    top: 0;
    left: 0;
}

#header.rolagem{
    background: linear-gradient(to bottom, #545454, #a6a6a6, transparent);
    padding-top: 10px;
    transition: 0.5s;
}

#header ul{
    list-style: none;
}

#header ul li{
    display: inline-block;
    margin: 0 20px;
}

#header ul li a{
    font-family: 'Barlow Bold';
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

#header ul li a:hover{
    font-family: 'Barlow Bold';
    font-size: 22px;
    color: var(--laranja);
    transition: .5s;
}


.banner {
    height: 100vh;
    background-image: url(img/hidrojateamento.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: auto;
    height: 90px;
}

#container_tel{
    display: flex;
    align-items: center;
}

#container_tel img{
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
}

#container_tel a{
    font-family: 'Barlow Bold';
    font-size: 20px;
    margin-left: 16px;
    color: var(--white);
    text-decoration: none;
}

#container_tel a:hover{
    font-family: 'Barlow Bold';
    font-size:22px;
    margin-left: 16px;
    color: var(--laranja);
    transition: 0.2s;
}

/** serviços **/

.servicos{
    height: 100vh;
    background-image: url(img/fundo.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
/** rodapé **/
footer{
    width: 100%;
    color: var(--white);
    font-family: 'Barlow Regular';
    justify-content: end;
    
}

.footer_content{
    background-color: var(--cinza);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2.5rem;
    
}

#footer_contacts {
    margin-bottom: 0.75rem;
}
#telefone{
    align-items: center;
    display: flex;
}
#logo{
    width: 20rem;
    height:10rem;
}


#footer-link{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    gap:2rem;
    transition: all 0.4s;
    justify-content: center;
}


#footer-link:hover{
    height: 2.5rem;
    width: 2.5rem;
    opacity: 0.5;
}

.footer-list{
    display: flex;
    flex-direction :column;
    gap:0.75rem;
    list-style: none;
    margin-inline: 3rem;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--cinza);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight:100;
}

@media screen and (max-width: 750px) {
    #footer_content{
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;

    }
}


@media screen and (max-width: 426px) {
    #footer_content{
        display:grid;
        padding: 3rem 2rem;
        
    }
}

@media(min-width: 1300px){
    .container{
        margin-inline: 1rem;
    }
    .logo{
        width: 15rem;
        height: 7.5rem;
    }
    
}

@media(min-width: 1500px){
    .container{
        margin-inline: 2rem;
    }
    .logo{
        width: 20rem;
        height: 10rem;
    }
    
}


@media(min-width: 751px){

}

